@use './variables';

.blog-main {
  background-color: variables.$sky-blue;
}

.comments {
  .single-comment {
    display: flex;
    padding: 50px 0 100px 0;

    img {
      width: 100px;
      height: 100px;
    }
    
    .content {
      padding-left: 35px;
      width: 55%;

      .date {
        color: variables.$slate-blue;
        padding-bottom: 10px;
      }
    }
  }
}