@use './variables';

.collect {
  background-color: variables.$blue-dianne;
  color: variables.$white;
  border-right: 10px solid variables.$turquoise;
  border-bottom: 10px solid variables.$turquoise;
  width: 65%;

  .imgContainer {
    height: 350px;
    position: relative;

    img {
      width: 99.45%;
      box-shadow: 15px 15px variables.$turquoise;
      position: absolute;
      top: -300px;
    }
  }

  h2 {
    padding: 50px 0 0 90px;
  }

  p {
    padding: 25px 30px 0 90px;
  }

  .date {
    color: variables.$sky-blue;
  }
}