@use './variables';

.form {
  background-color: variables.$blue-dianne;
  box-shadow: 20px 20px variables.$turquoise;
  position: absolute;
  width: 55%;
  top: 450px;
  left: 100px;
  padding: 50px 0;

  fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    padding: 0;

    div {
      display: flex;
      flex-direction: column;
      width: 45%;
      
      label {
        color: variables.$white;
        padding-left: 20px;
      }

      .name, .email {
        background-color: variables.$blue-dianne;
        color: variables.$white;
        border: none;
        border-bottom: 2px solid variables.$turquoise;
      }
    }
  }
  
  textarea {
    background-color: variables.$blue-dianne;
    color: variables.$white;
    border: 2px solid variables.$turquoise;
    width: 100%;
    height: 200px;
    margin-top: 50px;
  }
  ::placeholder {
    color: variables.$white;
    opacity: 1;
  }

  .submit-button {
    display: inline-block;
      text-decoration: none;
      border: none;
      color: variables.$black-two;
      background-color: variables.$hawkes-blue;
      width: 100%;
      padding-top: 10px;
      margin-top: 50px;
  }
}