@use './variables';

.con-header {
  background-image: url('./textilee-assets/contact-header.jpg');
  background-repeat: no-repeat;

  .h1-blog-con {
    color: variables.$slate-blue;
    width: 50%;
    margin-top: 100px;
    height: 365px;
  }
}