@use './variables';

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

a, div, nav, h1, h2, h3, section, ul, i, p, img {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  
  a {
    text-decoration: none;
  }
}
