@use './variables';

// Mixins
@mixin bg-img($image) {
  background-image: url($image);
  background-repeat: no-repeat;
}

@mixin title($h-value, $top) {
  color: variables.$slate-blue;
  width: 50%;
  margin-top: $top;
  height: $h-value;
}

// Index
.home-header {
  @include bg-img('./textilee-assets/header-home.jpg');
  position: relative;

  .h1-home {
    @include title(595px, 50px);
  }

  img {
    position: absolute;
    bottom: -200px;
  }
}

// Blog
.blog-header {
  @include bg-img('./textilee-assets/blog-header.jpg');

  .h1-blog-con {
    @include title(410px, 50px);
  }
}

// Contact
.con-header {
  @include bg-img('./textilee-assets/contact-header.jpg');

  .h1-blog-con {
    @include title(365px, 100px);
  }
}