@use './variables';

// Index
.home-header {
  background-image: url('./textilee-assets/header-home.jpg');
  background-repeat: no-repeat;
  // background-size: contain;
  position: relative;

  .h1-home {
    color: variables.$slate-blue;
    width: 50%;
    margin-top: 50px;
    height: 595px;
  }

  img {
    position: absolute;
    bottom: -200px;
  }
}

// Blog
.blog-header {
  background-image: url('./textilee-assets/blog-header.jpg');
  background-repeat: no-repeat;

  .h1-blog-con {
    color: variables.$slate-blue;
    width: 50%;
    margin-top: 50px;
    height: 410px;
  }
}

// Contact
.con-header {
  background-image: url('./textilee-assets/contact-header.jpg');
  background-repeat: no-repeat;

  .h1-blog-con {
    color: variables.$slate-blue;
    width: 50%;
    margin-top: 100px;
    height: 365px;
  }
}