@use './variables';

// Learn Section
.learn {
  background-color: variables.$sky-blue;
  padding-top: 250px;

  .wrapper {
    display: flex;

    h2 {
      color: variables.$slate-blue;
    }

    p {
      padding: 20px 0px 40px 0;
      margin-right: 140px;
    }
  }

  img {
    box-shadow: -20px 20px variables.$turquoise;
  }
}