@use './variables';

.search {
  background-color: variables.$sky-blue;
  padding: 150px 0;

  .wrapper {
    text-align: center;
    
    h2 {
      margin-bottom: 20px;
      color: variables.$slate-blue;
    }

    p {
      margin-bottom: 50px;
      width: 101%;
    }
  }
}