@use './variables';

// Portrait tablet and small desktops
@media (max-width: 1200px) {
  // General
  html {
    font-size: 115%;
  }

  // Home
  .home-header {
    .h1-home {
      height: 425px;
    }

    img {
      width: 700px;
      bottom: -200px;
    }
  }

  .gallery li {
    padding: 0 10px;

    img {
      width: 100%;
    }
  }

  .dis-locate {
    padding: 75px 0;

    .wrapper .discover {
      padding-left: 50px;
    }
    .wrapper .location {
      padding-right: 50px;
    }
  }

  // Blog
  .h3-blog {
    line-height: 2rem;
  }
  
  .blog-header .h1-blog-con {
    height: 300px;
  }

  .collect {
    padding-bottom: 25px;
    padding-top: 0;

    .imgContainer {
      height: 300px;

      img {
        top: -200px;
      }
    } 

    p {
      padding-left: 45px;
    }

    h2 {
      padding: 10px 0 0 45px;
    }
  } 

  .miss-post {
    top: 75px;

    .imgContainer {
      height: 225px;
    }
  } 
}

// --------------------------------------------------

// For adjusting some sections
@media (max-width: 1000px) {
  // Home
  .home-header img {
    width: 550px;
    bottom: -100px;
  }

  .learn {
    padding-top: 125px;
  }

  .dis-locate .wrapper {
    .discover {
      padding-left: 25px;
      margin-bottom: 25px;
    }
    .location {
      padding-right: 25px;
      margin-top: 25px;
    }

    .img-left {
      top: 0px;
      box-shadow: 15px 15px #0CADC0;
    }
    .img-right {
      bottom: 0px;
      box-shadow: -15px 15px #0CADC0;
    }
  }

  // Blog
  .collect .imgContainer {
    height: 250px;
  }

  .miss-post .imgContainer {
    height: 150px;
  }
}

// --------------------------------------------------

// Landscape phone to portrait tablet
@media (max-width: 800px) {
  // General
  html {
    font-size: 100%;
  }

  nav ul a {
    margin-left: 25px;
  }
  
  // Home
  .home-header {
    .h1-home {
      margin-top: 0;
      width: 65%;
      height: 275px;
    }

    img {
      display: none;
    }
  }

  .learn {
    padding-top: 50px;

    img {
      width: 200px;
    }

    p {
      width: 95%;
    }
  }

  .up-comm-blog-get .wrapper .ucbg-content i {
    width: 45px;
    height: 45px;
    padding: 10px 0;
  }

  .dis-locate .wrapper {
    .img-container {
      width: 35%; 
    }

    .img-left,
    .img-right {
      position: relative;
      width: 100%;
      box-shadow: none;
    }
    .discover,
    .location {
      width: 65%;
    }
  }

  .rope-img {
    height: 0;
  }

  .search {
    padding: 50px 0;
  }

  // Blog
  .blog-header .h1-blog-con {
    height: 200px;
    margin-top: 25px;
  }

  .collect {
    .imgContainer {
      height: 250px;

      img {
        top: -100px;
      }
    }

    h2, p {
      padding-left: 0;
    }
  }

  .miss-post .imgContainer{
    height: 125px;
  }

  .comments {
    padding: 75px 0;
    
    .single-comment {
      padding-bottom: 50px;

      img {
        width: 50px;
        height: 50px;
      }

      .content {
        width: 100%;
      }
    }
  } 

  .comment-form {
    width: 100%;
  }

  // Contact
  .con-header .h1-blog-con {
    width: 100%;
    height: 130px;
    margin-top: 50px;
  }

  .methods {
    padding: 50px 0 250px 0;

    .info i {
      margin-right: 10px;
    }
  }

  .contact-form {
    box-shadow: 10px 10px variables.$turquoise;
    width: 65%;
    top: 250px;
    left: 0px;
    padding: 25px 0;

    fieldset {
      display: block;

      div {
        padding-bottom: 25px;
        width: 100%;
      }
    }

    textarea {
      margin-top: 25px;
    }
  }
}

// --------------------------------------------------

// Landscape phones and down
@media (max-width: 500px) {
  // General
  html {
    font-size: 80%;
  }

  section {
    padding: 50px 0;
  }
  
  nav ul a {
    margin-left: 10px;
  }

  // Home
  .home-header {
    nav ul a {
      background-color: #f5f5f5;
    }
    
    .h1-home {
      height: 140px;
    }
  }

  .learn .img-container {
    display: none;
  }

  .gallery ul {
    display: block;

    li {
      padding-bottom: 20px;
    }
  }

  .up-comm-blog-get .wrapper {
    display: block;

    .ucbg-content {
      width: 100%;
      padding-bottom: 25px;

      i {
        width: 35px;
        height: 35px;
        padding: 7px 0;
      }
    }
  }

  .dis-locate .wrapper{
    display: block;

    .img-left, .img-right {
      display: none;
    }

    .discover, .location {
      width: 100%;
    }
  }

  // Blog
  .blog-header .h1-blog-con {
    width: 100%;
    height: 65px;
    margin-top: 10px;
    text-align: center;
  }

  .miss-post {
    position: relative;
    margin-left: auto;
    width: 50%;
    top: 0;

    .imgContainer {
      margin: 0;
      height: 10px;

      img {
        display: none;
      }
    }

    div {
      margin-top: 25px;
    }
  }

  .collect {
    position: relative;
    width: 75%;
    border-top: 10px solid #0CADC0;
    margin-top: 25px;

    .imgContainer img {
      top: 0;
      box-shadow: none;
      width: 100%;
    } 

    p {
      padding-right: 0px;
    }
  }

  .comments .single-comment {
      padding-bottom: 25px;
    }

  .comment-form {
    fieldset {
      display: block;

      div {
        padding-bottom: 25px;
        width: 100%;
      }
    }

    textarea {
      margin-top: 25px;
    }
  }

  // Contact
  .con-header .h1-blog-con {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
  }

  .methods {
    padding: 25px 0;

    .info {
      margin: 0;
      width: 100%;
      text-align: center;

      i {
        margin-right: 20px;
      }
    }
  } 

  .contact-form {
    position: relative;
    box-shadow: none;
    width: 100%;
    top: 0;
    left: 0;
  }
}