@use './variables';

// Portrait tablet and small desktops
@media (max-width: 1200px) {
  // General
  html {
    font-size: 115%;
  }

  // Home


  // Blog
  .h3-blog {
    line-height: 2rem;
  }
  
  .collect .imgContainer {
    height: 150px;

    img {
      top: -400px;
    }
  }

  .miss-post {
    top: 75px;

    .imgContainer {
      height: 225px;
    }
  } 
}

// Landscape phone to portrait tablet
@media (max-width: 800px) {
  // General
  html {
    font-size: 100%;
  }

  nav {
    ul a {
      padding-left: 25px;
    }
  }

  // Home


  // Blog
  .collect,
  .miss-post {
    // position: inherit;
  }
  .collect {
    .imgContainer {
      height: 50px;
    }

    h2, p {
      padding-left: 0;
    }
  }

  // Contact
  .con-header .h1-blog-con {
    width: 100%;
    height: 130px;
    margin-top: 50px;
  }

  .methods .info i {
    margin-right: 10px;
  }

  .contact-form {
    box-shadow: 10px 10px variables.$turquoise;
    width: 65%;
    top: 250px;
    left: 0px;
    padding: 25px 0;
  }
}

// Landscape phones and down
@media (max-width: 500px) {
  // General
  html {
    font-size: 80%;
  }

  // Home


  // Blog


  // Contact
  .con-header .h1-blog-con {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
  }

  .methods {
    padding: 25px 0;

    .info {
      margin: 0;
      width: 100%;
      text-align: center;

      i {
        margin-right: 20px;
      }
    }
  } 

  .contact-form {
    position: relative;
    box-shadow: none;
    width: 100%;
    top: 0;
    left: 0;
  }
}