@use './variables';

// Mixins
@mixin font($family, $weight, $size, $line, $letter) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  letter-spacing: $letter;
}

// General
html {
  font-size: 125%;
}

.logo {
  @include font(variables.$pacifico, 400, 1.5rem, 1.2rem, 0.09rem);
}

.button {
  @include font(variables.$pacifico, 400, 1.35rem, 1.6rem, 0.07rem);
  text-align: center;
}

nav {
  @include font(variables.$lato, 700, 1rem, 1.45rem, 0.07rem);
  text-align: center;
}

p, .miss-post li {
  @include font(variables.$lato, 400, 1rem, 1.4rem, 0.1rem);
}

// Home
.h1-home {
  @include font(variables.$pacifico, 400, 2.9rem, 3.4rem, 0);
}
.h2-home {
  @include font(variables.$pacifico, 400, 2.15rem, 2.9rem, 0.14rem);
}
.h3-home {
  @include font(variables.$pacifico, 400, 2rem, 2.9rem, 0.13rem);
  text-align: right;
}

// Contact
.h1-blog-con {
  @include font(variables.$pacifico, 400, 3.4rem, 3.2rem, 0);
}

// Blog
.h2-blog {
  @include font(variables.$pacifico, 400, 2rem, 2.12rem, 0);
}

.h3-blog {
  @include font(variables.$pacifico, 400, 1.75rem, 1rem, 0.15rem);
}