// Colours
$slate-blue: #1A315C;
$black: #1E1713;
$turquoise: #0CADC0;
$sky-blue: #CCEDFB;
$black-two: #161515;
$white: #FFFFFF;
$blue-dianne: #21404f;
$hawkes-blue: #c6d9fb;

// Font Family
$pacifico: 'Pacifico', cursive;
$lato: 'Lato', sans-serif;