// Colours
$slate-blue: #1A315C;
$black: #1E1713;
$turquoise: #0CADC0;
$sky-blue: #CCEDFB;
$black-two: #161515;
$white: #FFFFFF;

// Font Family
$pacifico: 'Pacifico', cursive;
$lato: 'Lato', sans-serif;