@use '../variables';

.home-header {
  background-image: url('./textilee-assets/header-home.jpg');
  background-repeat: no-repeat;
  position: relative;

  .h1-home {
    color: variables.$slate-blue;
    width: 50%;
    margin-top: 50px;
    height: 595px;
  }

  img {
    position: absolute;
    bottom: -200px;
  }
}

