@use '../variables';

// Learn Section
.learn {
  background-color: variables.$sky-blue;
  padding-top: 250px;

  .wrapper {
    display: flex;

    h2 {
      color: variables.$slate-blue;
    }

    p {
      padding: 20px 0px 40px 0;
      margin-right: 140px;
    }

    .find-button {
      display: inline-block;
      text-decoration: none;
      color: variables.$white;
      background-color: variables.$slate-blue;
      padding: 10px 40px;
    }
  }

  img {
    box-shadow: -15px 15px variables.$turquoise;
  }
}