html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 1.5rem;
  line-height: 1.2rem;
  letter-spacing: 0.09rem;
}

.button {
  font-family: "Pacifico", cursive;
  font-size: 1.35rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.07rem;
}

nav {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

.h1-home {
  font-family: "Pacifico", cursive;
  font-size: 2.9rem;
  line-height: 3.4rem;
}

.h2-home {
  font-family: "Pacifico", cursive;
  font-size: 2.15rem;
  line-height: 2.9rem;
  letter-spacing: 0.14rem;
}

.h3-home {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  text-align: right;
  line-height: 2.9rem;
  letter-spacing: 0.13rem;
}

.h1-blog-con {
  font-family: "Pacifico", cursive;
  font-size: 3.4rem;
  line-height: 3.2rem;
}

.h2-blog {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  line-height: 2.12rem;
}

.h3-blog {
  font-family: "Pacifico", cursive;
  font-size: 1.75rem;
  letter-spacing: 0.15rem;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

a, div, nav, h1, h2, h3, section, ul, i, p, img {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

section {
  padding: 100px 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul a {
  padding-left: 50px;
  text-transform: uppercase;
  color: #1A315C;
}

.home-header {
  background-image: url("./textilee-assets/header-home.jpg");
  background-repeat: no-repeat;
  position: relative;
}
.home-header .h1-home {
  color: #1A315C;
  width: 50%;
  margin-top: 50px;
  height: 595px;
}
.home-header img {
  position: absolute;
  bottom: -200px;
}

.learn {
  background-color: #CCEDFB;
  padding-top: 250px;
}
.learn .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.learn .wrapper h2 {
  color: #1A315C;
}
.learn .wrapper p {
  padding: 20px 0px 40px 0;
  margin-right: 140px;
}
.learn .wrapper .find-button {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #1A315C;
  padding: 10px 40px;
}
.learn img {
  -webkit-box-shadow: -20px 20px #0CADC0;
          box-shadow: -20px 20px #0CADC0;
}

.gallery {
  background-color: #21404f;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.up-comm-blog-get {
  background-color: #CCEDFB;
}
.up-comm-blog-get .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.up-comm-blog-get .wrapper .ucbg-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}
.up-comm-blog-get .wrapper .ucbg-content i {
  background-color: #0CADC0;
  color: #FFFFFF;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  width: 55px;
  height: 55px;
  padding: 12px 0;
  margin: 10px;
}
.up-comm-blog-get .wrapper .ucbg-content h2 {
  color: #1A315C;
}
.up-comm-blog-get .wrapper .ucbg-content p {
  margin-top: 20px;
}

.dis-locate {
  background-color: #21404f;
  position: relative;
}
.dis-locate .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dis-locate .wrapper div {
  width: 50%;
}
.dis-locate .wrapper div h3, .dis-locate .wrapper div p {
  color: #FFFFFF;
  margin-bottom: 15px;
}
.dis-locate .wrapper div .read-button {
  display: inline-block;
  text-decoration: none;
  color: #1A315C;
  background: #c6d9fb;
  padding: 10px 40px;
}
.dis-locate .wrapper .img-left {
  position: absolute;
  top: -40px;
  left: 0;
  -webkit-box-shadow: 25px 25px #0CADC0;
          box-shadow: 25px 25px #0CADC0;
}
.dis-locate .wrapper .img-right {
  position: absolute;
  bottom: -40px;
  right: 0;
  -webkit-box-shadow: -25px 25px #0CADC0;
          box-shadow: -25px 25px #0CADC0;
}
.dis-locate .wrapper .discover {
  padding-left: 100px;
  margin-bottom: 50px;
}
.dis-locate .wrapper .discover .dis {
  text-align: left;
}
.dis-locate .wrapper .discover h3 {
  white-space: nowrap;
}
.dis-locate .wrapper .discover p {
  width: 95%;
}
.dis-locate .wrapper .location {
  text-align: right;
  padding-right: 85px;
  margin-top: 50px;
}
.dis-locate .wrapper .location p {
  width: 95%;
  margin-left: auto;
}

.rope-img {
  background-image: url("./textilee-assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
}

.search {
  background-color: #CCEDFB;
  padding: 150px 0;
}
.search .wrapper {
  text-align: center;
}
.search h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1A315C;
}
.search p {
  text-align: center;
  margin-bottom: 50px;
  width: 101%;
}
.search .find-button {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #1A315C;
  padding: 10px 40px;
}

.blog-header {
  background-image: url("./textilee-assets/blog-header.jpg");
  background-repeat: no-repeat;
}
.blog-header .h1-blog-con {
  color: #1A315C;
  width: 50%;
  margin-top: 50px;
  height: 410px;
}

.con-header {
  background-image: url("./textilee-assets/contact-header.jpg");
  background-repeat: no-repeat;
}
.con-header .h1-blog-con {
  color: #1A315C;
  width: 50%;
  margin-top: 100px;
  height: 365px;
}

.contact {
  background-color: #CCEDFB;
  padding: 100px 0 150px 0;
}
.contact .info {
  width: 25%;
  margin-left: auto;
}
.contact .info i {
  margin-right: 20px;
  font-size: 1.25rem;
}
.contact .info .address {
  margin-top: 20px;
}

.form {
  background-color: #21404f;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
  position: absolute;
  width: 55%;
  top: 450px;
  left: 100px;
  padding: 50px 0;
}
.form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.form fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}
.form fieldset div label {
  color: #FFFFFF;
  padding-left: 20px;
}
.form fieldset div .name, .form fieldset div .email {
  background-color: #21404f;
  color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #0CADC0;
}
.form textarea {
  background-color: #21404f;
  color: #FFFFFF;
  border: 2px solid #0CADC0;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}
.form ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.form ::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.form :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.form ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.form ::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.form .submit-button {
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #161515;
  background-color: #c6d9fb;
  width: 100%;
  padding-top: 10px;
  margin-top: 50px;
}

footer {
  background: #161515;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}