html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background: #fff;
  color: black;
  font-size: 1rem;
  padding: 10px 0;
}

.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 125%;
}

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2rem;
  letter-spacing: 0.09rem;
}

.button {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 1.6rem;
  letter-spacing: 0.07rem;
  text-align: center;
}

nav {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.07rem;
  text-align: center;
}

textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

p,
.miss-post li,
label, textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

.h1-home {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 2.9rem;
  line-height: 3.4rem;
  letter-spacing: 0;
}

.h2-home {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 2.15rem;
  line-height: 2.9rem;
  letter-spacing: 0.14rem;
}

.h3-home {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.13rem;
  text-align: right;
}

.h1-blog-con {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 3.4rem;
  line-height: 3.2rem;
  letter-spacing: 0;
}

.h2-blog {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.12rem;
  letter-spacing: 0;
}

.h3-blog {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1rem;
  letter-spacing: 0.15rem;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

a, div, nav, h1, h2, h3, section, ul, i, p, img {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
}

section {
  padding: 100px 0;
}

form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
form fieldset div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}
form fieldset div label {
  padding-left: 20px;
}
form fieldset div .name, form fieldset div .email {
  border: none;
  border-bottom: 2px solid #0CADC0;
}
form textarea {
  border: 2px solid #0CADC0;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul a {
  padding-left: 50px;
  text-transform: uppercase;
  color: #1A315C;
}

.home-header .home,
.blog-header .blog,
.con-header .contact {
  -webkit-text-decoration: underline solid #0CADC0 3px;
          text-decoration: underline solid #0CADC0 3px;
}

.home-header {
  background-image: url("./textilee-assets/header-home.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #CCEDFB;
  position: relative;
}
.home-header .h1-home {
  color: #1A315C;
  width: 50%;
  height: 595px;
  margin-top: 50px;
}
.home-header img {
  position: absolute;
  bottom: -200px;
}

.blog-header {
  background-image: url("./textilee-assets/blog-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #CCEDFB;
}
.blog-header .h1-blog-con {
  color: #1A315C;
  width: 50%;
  height: 410px;
  margin-top: 50px;
}

.con-header {
  background-image: url("./textilee-assets/contact-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #CCEDFB;
}
.con-header .h1-blog-con {
  color: #1A315C;
  width: 50%;
  height: 365px;
  margin-top: 100px;
}

.button.find-button {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  background: #1A315C;
  padding: 10px 40px;
}

.button.read-button {
  display: inline-block;
  text-decoration: none;
  color: #1A315C;
  background: #c6d9fb;
  padding: 10px 40px;
}

.button.post-button {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  background: #1A315C;
  padding: 10px 0;
}

.button.submit-button {
  display: inline-block;
  text-decoration: none;
  color: #161515;
  background: #c6d9fb;
  padding: 10px 0;
}

.button.post-button,
.button.submit-button {
  border: none;
  width: 100%;
  margin-top: 50px;
}

.learn {
  background-color: #CCEDFB;
  padding-top: 250px;
}
.learn .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.learn .wrapper h2 {
  color: #1A315C;
}
.learn .wrapper p {
  padding: 20px 0px 40px 0;
  margin-right: 140px;
}
.learn img {
  -webkit-box-shadow: -20px 20px #0CADC0;
          box-shadow: -20px 20px #0CADC0;
}

.gallery {
  background-color: #21404f;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery ul img {
  width: 100%;
}

.up-comm-blog-get {
  background-color: #CCEDFB;
}
.up-comm-blog-get .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.up-comm-blog-get .wrapper .ucbg-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}
.up-comm-blog-get .wrapper .ucbg-content i {
  background-color: #0CADC0;
  color: #FFFFFF;
  border-radius: 50%;
  font-size: 1.5rem;
  text-align: center;
  width: 55px;
  height: 55px;
  padding: 12px 0;
  margin: 5px 10px 10px 10px;
}
.up-comm-blog-get .wrapper .ucbg-content h2 {
  color: #1A315C;
}
.up-comm-blog-get .wrapper .ucbg-content p {
  margin-top: 20px;
}

.dis-locate {
  background-color: #21404f;
  position: relative;
}
.dis-locate .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.dis-locate .wrapper div {
  width: 50%;
}
.dis-locate .wrapper div h3, .dis-locate .wrapper div p {
  color: #FFFFFF;
  margin-bottom: 15px;
}
.dis-locate .wrapper .img-left {
  position: absolute;
  top: -40px;
  left: 0;
  -webkit-box-shadow: 25px 25px #0CADC0;
          box-shadow: 25px 25px #0CADC0;
  width: 45vw;
}
.dis-locate .wrapper .img-right {
  position: absolute;
  bottom: -40px;
  right: 0;
  -webkit-box-shadow: -25px 25px #0CADC0;
          box-shadow: -25px 25px #0CADC0;
  width: 45vw;
}
.dis-locate .wrapper .discover {
  padding-left: 100px;
  margin-bottom: 50px;
}
.dis-locate .wrapper .discover .dis {
  text-align: left;
}
.dis-locate .wrapper .discover h3 {
  white-space: nowrap;
}
.dis-locate .wrapper .discover p {
  width: 95%;
}
.dis-locate .wrapper .location {
  text-align: right;
  padding-right: 85px;
  margin-top: 50px;
}
.dis-locate .wrapper .location p {
  width: 95%;
  margin-left: auto;
}

.rope-img {
  background-image: url("./textilee-assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
}

.search {
  background-color: #CCEDFB;
  padding: 150px 0;
}
.search .wrapper {
  text-align: center;
}
.search h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1A315C;
}
.search p {
  text-align: center;
  margin-bottom: 50px;
  width: 101%;
}

.collect {
  background-color: #21404f;
  color: #FFFFFF;
  border-right: 10px solid #0CADC0;
  border-bottom: 10px solid #0CADC0;
  width: 65%;
}
.collect .imgContainer {
  height: 350px;
  position: relative;
}
.collect .imgContainer img {
  width: 99.45%;
  -webkit-box-shadow: 15px 15px #0CADC0;
          box-shadow: 15px 15px #0CADC0;
  position: absolute;
  top: -300px;
}
.collect h2 {
  padding: 50px 0 0 90px;
}
.collect p {
  padding: 25px 30px 0 90px;
}
.collect .date {
  color: #CCEDFB;
}

.blog-main {
  background-color: #CCEDFB;
}

.comments .single-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 100px 0;
}
.comments .single-comment img {
  width: 100px;
  height: 100px;
}
.comments .single-comment .content {
  padding-left: 35px;
  width: 55%;
}
.comments .single-comment .content .date {
  color: #1A315C;
  padding-bottom: 10px;
}

.blog-main {
  position: relative;
}

.miss-post {
  background-color: #21404f;
  color: #FFFFFF;
  position: absolute;
  width: 25%;
  top: 100px;
  right: 0;
}
.miss-post .imgContainer {
  position: relative;
  height: 350px;
}
.miss-post .imgContainer img {
  position: absolute;
  top: -70px;
  right: 0;
  width: 23vw;
}
.miss-post div {
  margin-top: 50px;
  padding-bottom: 20px;
}
.miss-post div h3 {
  padding-bottom: 10px;
}
.miss-post div p {
  padding-top: 5px;
}
.miss-post div li {
  list-style: inside;
  padding: 5px 0;
}

.comment-form {
  width: 65%;
}
.comment-form .name, .comment-form .email {
  background-color: #CCEDFB;
}
.comment-form textarea {
  background-color: #CCEDFB;
  padding: 25px 0 0 25px;
}

.contact-form {
  background-color: #21404f;
  -webkit-box-shadow: 20px 20px #0CADC0;
          box-shadow: 20px 20px #0CADC0;
  position: absolute;
  width: 55%;
  top: 450px;
  left: 100px;
  padding: 50px 0;
}
.contact-form label, .contact-form .name, .contact-form .email {
  background-color: #21404f;
  color: #FFFFFF;
}
.contact-form textarea {
  background-color: #21404f;
  color: #FFFFFF;
  padding: 25px 0 0 25px;
}
.contact-form ::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.contact-form ::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.contact-form :-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.contact-form ::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.contact-form ::placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.methods {
  background-color: #CCEDFB;
  padding: 50px 0 150px 0;
}
.methods .info {
  width: 25%;
  margin-left: auto;
}
.methods .info i {
  margin-right: 20px;
  font-size: 1.25rem;
}
.methods .info .address {
  margin-top: 20px;
}

footer {
  background: #161515;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1200px) {
  html {
    font-size: 115%;
  }
  .home-header .h1-home {
    height: 425px;
  }
  .home-header img {
    width: 700px;
    bottom: -200px;
  }
  .gallery li {
    padding: 0 10px;
  }
  .gallery li img {
    width: 100%;
  }
  .dis-locate {
    padding: 75px 0;
  }
  .dis-locate .wrapper .discover {
    padding-left: 50px;
  }
  .dis-locate .wrapper .location {
    padding-right: 50px;
  }
  .h3-blog {
    line-height: 2rem;
  }
  .blog-header .h1-blog-con {
    height: 300px;
  }
  .collect {
    padding-bottom: 25px;
    padding-top: 0;
  }
  .collect .imgContainer {
    height: 300px;
  }
  .collect .imgContainer img {
    top: -200px;
  }
  .collect p {
    padding-left: 45px;
  }
  .collect h2 {
    padding: 10px 0 0 45px;
  }
  .miss-post {
    top: 75px;
  }
  .miss-post .imgContainer {
    height: 225px;
  }
}
@media (max-width: 1000px) {
  .home-header img {
    width: 550px;
    bottom: -100px;
  }
  .learn {
    padding-top: 125px;
  }
  .dis-locate .wrapper .discover {
    padding-left: 25px;
    margin-bottom: 25px;
  }
  .dis-locate .wrapper .discover h3 {
    white-space: inherit;
  }
  .dis-locate .wrapper .location {
    padding-right: 25px;
    margin-top: 25px;
  }
  .dis-locate .wrapper .img-left {
    top: 0px;
    -webkit-box-shadow: 15px 15px #0CADC0;
            box-shadow: 15px 15px #0CADC0;
  }
  .dis-locate .wrapper .img-right {
    bottom: 0px;
    -webkit-box-shadow: -15px 15px #0CADC0;
            box-shadow: -15px 15px #0CADC0;
  }
  .collect .imgContainer {
    height: 250px;
  }
  .miss-post .imgContainer {
    height: 150px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 100%;
  }
  nav ul a {
    padding-left: 25px;
  }
  .home-header .h1-home {
    margin-top: 0;
    width: 65%;
    height: 275px;
  }
  .home-header img {
    display: none;
  }
  .learn {
    padding-top: 50px;
  }
  .learn img {
    width: 200px;
  }
  .learn p {
    width: 95%;
  }
  .up-comm-blog-get .wrapper .ucbg-content i {
    width: 45px;
    height: 45px;
    padding: 10px 0;
  }
  .dis-locate .wrapper .img-container {
    width: 35%;
  }
  .dis-locate .wrapper .img-left,
.dis-locate .wrapper .img-right {
    position: relative;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dis-locate .wrapper .discover,
.dis-locate .wrapper .location {
    width: 65%;
  }
  .rope-img {
    height: 0;
  }
  .search {
    padding: 50px 0;
  }
  .blog-header .h1-blog-con {
    height: 200px;
    margin-top: 25px;
  }
  .collect .imgContainer {
    height: 250px;
  }
  .collect .imgContainer img {
    top: -100px;
  }
  .collect h2, .collect p {
    padding-left: 0;
  }
  .miss-post .imgContainer {
    height: 125px;
  }
  .comments {
    padding: 75px 0;
  }
  .comments .single-comment {
    padding-bottom: 50px;
  }
  .comments .single-comment img {
    width: 50px;
    height: 50px;
  }
  .comments .single-comment .content {
    width: 100%;
  }
  .comment-form {
    width: 100%;
  }
  .con-header .h1-blog-con {
    width: 100%;
    height: 130px;
    margin-top: 50px;
  }
  .methods .info i {
    margin-right: 10px;
  }
  .contact-form {
    -webkit-box-shadow: 10px 10px #0CADC0;
            box-shadow: 10px 10px #0CADC0;
    width: 65%;
    top: 250px;
    left: 0px;
    padding: 25px 0;
  }
  .contact-form fieldset {
    display: block;
  }
  .contact-form fieldset div {
    padding-bottom: 25px;
    width: 100%;
  }
  .contact-form textarea {
    margin-top: 25px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 80%;
  }
  section {
    padding: 50px 0;
  }
  nav ul a {
    padding-left: 10px;
  }
  .home-header nav ul a {
    background-color: #f5f5f5;
  }
  .home-header .h1-home {
    height: 140px;
  }
  .learn .img-container {
    display: none;
  }
  .gallery ul {
    display: block;
  }
  .gallery ul li {
    padding-bottom: 20px;
  }
  .up-comm-blog-get .wrapper {
    display: block;
  }
  .up-comm-blog-get .wrapper .ucbg-content {
    width: 100%;
    padding-bottom: 25px;
  }
  .up-comm-blog-get .wrapper .ucbg-content i {
    width: 35px;
    height: 35px;
    padding: 7px 0;
  }
  .dis-locate .wrapper {
    display: block;
  }
  .dis-locate .wrapper .img-left, .dis-locate .wrapper .img-right {
    display: none;
  }
  .dis-locate .wrapper .discover, .dis-locate .wrapper .location {
    width: 100%;
  }
  .blog-header .h1-blog-con {
    width: 100%;
    height: 65px;
    margin-top: 10px;
    text-align: center;
  }
  .miss-post {
    position: relative;
    margin-left: auto;
    width: 50%;
    top: 0;
  }
  .miss-post .imgContainer {
    margin: 0;
    height: 10px;
  }
  .miss-post .imgContainer img {
    display: none;
  }
  .miss-post div {
    margin-top: 25px;
  }
  .collect {
    position: relative;
    width: 75%;
    border-top: 10px solid #0CADC0;
    margin-top: 25px;
  }
  .collect .imgContainer img {
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .collect p {
    padding-right: 0px;
  }
  .comments .single-comment {
    padding-bottom: 25px;
  }
  .comment-form fieldset {
    display: block;
  }
  .comment-form fieldset div {
    padding-bottom: 25px;
    width: 100%;
  }
  .comment-form textarea {
    margin-top: 25px;
  }
  .con-header .h1-blog-con {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    text-align: center;
  }
  .methods {
    padding: 25px 0;
  }
  .methods .info {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .methods .info i {
    margin-right: 20px;
  }
  .contact-form {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    top: 0;
    left: 0;
  }
}